/* The CSS below is a slightly modified version of one of the following examples: https://codepen.io/alicevega/pen/vEWXGL */

.gallery-img {
    width: 100%;
    height: auto;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.gallery-img:hover {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0.5)";
    filter: alpha(opacity=0.5);
    opacity: 0.7;
}

li {
    cursor: pointer;
}

/* Override some Bootstrap styles. */
:root {
    --main-color: #32a71e;
}

#scroll-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    background-color: var(--main-color);
}

.active {
    background-color: var(--main-color) !important;
}

.nav-link {
    color: var(--main-color);
}

.nav-link:hover {
    color: #127900;
}

.card {
    border-color: var(--main-color);
}

.list-group-item-action {
    color: var(--main-color);
    border-color: var(--main-color);
}

.page-link {
    color: var(--main-color) !important;
}

.page-item.active .page-link {
    color: #ffffff !important;
    background-color: var(--main-color);
    border-color: var(--main-color);
}